* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: ease-in;
  /* font-family: 'Noto Sans Mono', monospace; */
  /* font-family: 'Inria Sans', sans-serif !important; */
}
#header {
  background: #f2f4e8;
  position: relative;
}
nav {
  display: flex;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
}
#logo {
  width: 200px;
}
.navLinks {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#menu {
  display: none;
}
.navLinks ul li {
  list-style-type: none;
  display: inline;
  padding: 1rem;
}
.navLinks ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
@media (max-width: 966px) {
  .navLinks ul {
    padding: 0.7rem 8rem;
  }
  nav img {
    margin: 0 1rem;
  }
}

.containerHero {
  background: #f2f4e8;
}
.columns {
  background: #f2f4e8;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.col1 {
  width: 50%;
  padding: 3rem 0;
  padding-left: 1rem;
}
.col1 p {
  font-weight: initial;
  font-size: 18px;
}
.col1 h1 {
  font-family: "Inria Sans", sans-serif !important;
  font-size: 3.3em;
  padding: 1rem 0;
}
.col2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.circle {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #101010;
  border-radius: 50%;
}
.circle img {
  position: absolute;
  width: 150px;
  top: 47%;
  left: 31%;
}
#weProvideImg {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.arrowAnimation {
  animation: fadeIn 10s;
}
@media (max-width: 835px) {
  #menu {
    display: block;
  }
  .columns {
    display: flex;
    flex-direction: column;
  }
  .col1 {
    width: 100%;
    padding: 1rem 3rem;
  }
  nav img {
    margin: 0 3rem;
  }
  .col2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
}
#arrow1 {
  position: absolute;
  top: 33%;
  left: 25%;
  width: 50px;
  transform: scaleY(-1);
}
#arrow2 {
  position: absolute;
  top: 33%;
  left: 61%;
  width: 50px;
}
#arrow3 {
  position: absolute;
  top: 56%;
  left: 25%;
  width: 50px;
}
#arrow4 {
  position: absolute;
  top: 56%;
  left: 61%;
  width: 50px;
  transform: scaleX(-1);
}
#img1 {
  position: absolute;
  top: 24%;
  left: 10%;
}
#img2 {
  position: absolute;
  top: 22%;
  width: 96px;
  left: 62%;
}
#img3 {
  position: absolute;
  top: 68%;
  width: 126px;
  left: 10%;
}
#img4 {
  position: absolute;
  top: 69%;
  left: 50%;
  width: 159px;
}
.wrapper {
  max-width: 400px;
}
.searchInput {
  position: relative;
  background-color: #ddf247;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 1px 5px 3px rgb(0, 0, 0, 0.12);
}
.searchInput input {
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 0 3rem;
  box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.1);
  background-color: black;
  color: white;
  font-family: "Inria Sans", sans-serif !important;
  letter-spacing: 0.3px;
  font-size: 16px;
  caret-color: #ddf247;
}
.searchInput img {
  width: 20px;
  position: absolute;
  left: 16px;
  top: 13px;
}
.autocomBox {
  /* padding: 0 3rem; */
  max-height: 250px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}
.searchInput.active .autocomBox {
  opacity: 1;
  pointer-events: auto;
}
.autocomBox li {
  list-style-type: none;
  padding: 10px 3rem;
  width: 100%;
  border-radius: 10px;
  cursor: default;
  display: none;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif !important;
}
.searchInput.active .autocomBox li {
  display: block;
}
.autocomBox li:hover {
  background-color: #f2f4e8;
}
.searchInput input:active {
  border: 2px solid #ddf247;
}

/* Features Section */
.featuresBox {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.featuresItem {
  width: 300px;
  text-align: center;
  padding: 2rem;
}
@media (max-width: 600px) {
  .featuresItem {
    width: 220px;
    font-size: 12px;
  }
}
@media (max-width: 440px) {
  .featuresItem {
    width: 178px;
    padding: 2rem 1rem;
  }
}

/* Course Section */
.courseTop {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
.courseContainer {
  background: #f2f4e8;
}
.courseBox {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 4rem 0;
}
.courseItem {
  width: 250px;
  height: 300px;
  margin: 2rem;
  background: #ddf247;
  border-radius: 1rem;
  word-wrap: break-word;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.courseItem img {
  padding: 1.5rem;
}
.courseItem h1 {
  padding: 0 1.5rem;
  height: 8rem;
}
.courseBtn {
  display: flex;
  justify-content: center;
}
.courseBtn button {
  padding: 7px;
  font-weight: 600;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
  background: #101010;
  color: #ddf247;
}
.courseBtn button i {
  margin: 0 5px;
}
