* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: ease-in;
  /* font-family: 'Noto Sans Mono', monospace; */
  /* font-family: 'Inria Sans', sans-serif !important; */
}
#header {
  background: #f2f4e8;
  position: relative;
}
nav {
  display: flex;
  padding: 2rem 0;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
#logo {
  width: 200px;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul li {
  margin: 0 1.5rem;
}
nav ul li a {
  text-decoration: none;
  color: #101010;
}
#burgerIcon {
  display: none;
}
#click {
  display: none;
}
#logo {
  margin: 0 1rem;
}
@media (max-width: 835px) {
  #burgerIcon {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 92.6px;
    left: -100%;
    background: #101010;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 888;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul {
    left: 0;
  }
  #click:checked ~ .containerHero {
    position: fixed;
  }
  nav ul li a {
    text-decoration: none;
    color: #ddf247;
  }
  nav ul li {
    margin: 40px 0;
  }
  nav img {
    margin: 0 2rem;
  }
}
@media (max-width: 385px) {
  #logo {
    width: 130px;
  }
}
/* Hero Section */
.containerHero {
  background: #f2f4e8;
}
.columns {
  background: #f2f4e8;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.col1 {
  width: 50%;
  padding: 3rem 0;
  padding-left: 1rem;
}
.col1 p {
  font-weight: initial;
  font-size: 18px;
}
.col1 h1 {
  font-family: "Inria Sans", sans-serif !important;
  font-size: 3.3em;
  padding: 1rem 0;
}
.col2 {
  width: 50%;
  display: flex;
  justify-content: center;
}
.circle {
  position: relative;
  height: 400px;
  width: 400px;
  background-color: #101010;
  border-radius: 50%;
}
.circle img {
  position: absolute;
  width: 150px;
  top: 47%;
  left: 31%;
}
#weProvideImg {
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.arrowAnimation {
  animation: fadeIn 10s;
}
@media (max-width: 835px) {
  #menu {
    display: block;
  }
  .columns {
    display: flex;
    flex-direction: column;
  }
  .col1 {
    width: 100%;
    padding: 1rem 3rem;
  }
  .col2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }
  #logo {
    margin: 0 3rem;
  }
}
@media (max-width: 621px) {
  #logo {
    margin: 0 2rem;
  }
  .col1 {
    padding: 1rem 2rem;
  }
}
@media (max-width: 511px) {
  .col1 h1 {
    font-size: 2.7em;
  }
}
@media (max-width: 421px) {
  .col1 h1 {
    font-size: 33px;
  }
}
@media (max-width: 480px) {
  #logo {
    width: 130px;
  }
}
#arrow1 {
  position: absolute;
  top: 33%;
  left: 25%;
  width: 50px;
  transform: scaleY(-1);
}
#arrow2 {
  position: absolute;
  top: 33%;
  left: 61%;
  width: 50px;
}
#arrow3 {
  position: absolute;
  top: 56%;
  left: 25%;
  width: 50px;
}
#arrow4 {
  position: absolute;
  top: 56%;
  left: 61%;
  width: 50px;
  transform: scaleX(-1);
}
#img1 {
  position: absolute;
  top: 24%;
  left: 10%;
}
#img2 {
  position: absolute;
  top: 22%;
  width: 96px;
  left: 62%;
}
#img3 {
  position: absolute;
  top: 68%;
  width: 126px;
  left: 10%;
}
#img4 {
  position: absolute;
  top: 69%;
  left: 50%;
  width: 159px;
}
.wrapper {
  max-width: 400px;
}
.searchInput {
  position: relative;
  background-color: #ddf247;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0px 1px 5px 3px rgb(0, 0, 0, 0.12);
}
.searchInput input {
  height: 45px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 2rem;
  padding: 0 3rem;
  box-shadow: 0px 1px 5px rgb(0, 0, 0, 0.1);
  background-color: black;
  color: white;
  font-family: "Inria Sans", sans-serif !important;
  letter-spacing: 0.3px;
  font-size: 16px;
  caret-color: #ddf247;
}
.searchInput img {
  width: 20px;
  position: absolute;
  left: 16px;
  top: 13px;
}
.autocomBox {
  max-height: 250px;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
}
.searchInput.active .autocomBox {
  opacity: 1;
  pointer-events: auto;
}
.autocomBox li {
  list-style-type: none;
  padding: 10px 3rem;
  width: 100%;
  border-radius: 10px;
  cursor: default;
  display: none;
  font-size: 16px;
  font-family: "Inria Sans", sans-serif !important;
}
.searchInput.active .autocomBox li {
  display: block;
}
.autocomBox li:hover {
  background-color: #f2f4e8;
}
.searchInput input:active {
  border: 2px solid #ddf247;
}
@media (max-width: 511px) {
  .circle {
    height: 350px;
    width: 350px;
  }
  .circle img {
    width: 130px;
  }
  #img2 {
    width: 79px;
  }
  #img3 {
    width: 112px;
  }
  #img4 {
    width: 143px;
  }
  #arrow1 {
    width: 45px;
  }
  #arrow2 {
    width: 45px;
  }
  #arrow3 {
    width: 45px;
  }
  #arrow4 {
    width: 45px;
  }
}
/* Features Section */
.featuresBox {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.featuresItem {
  width: 300px;
  text-align: center;
  padding: 2rem;
}
@media (max-width: 600px) {
  .featuresItem {
    width: 220px;
    font-size: 12px;
  }
}
@media (max-width: 440px) {
  .featuresItem {
    width: 178px;
    padding: 2rem 1rem;
  }
}

/* Course Section */
.courseTop {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
}
.courseContainer {
  background: #f2f4e8;
}
.courseBox {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 4rem 0;
}
.courseItem {
  width: 250px;
  height: 300px;
  margin: 2rem;
  background: #ddf247;
  border-radius: 1rem;
  word-wrap: break-word;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.courseItem img {
  padding: 1.5rem;
}
.courseItem h1 {
  padding: 0 1.5rem;
  height: 8rem;
}
.courseBtn {
  display: flex;
  justify-content: center;
}
.courseBtn button {
  padding: 7px;
  font-weight: 600;
  letter-spacing: 0.3px;
  border: none;
  border-radius: 5px;
  background: #101010;
  color: #ddf247;
}
.courseBtn button i {
  margin: 0 5px;
}

/* Footer section */
footer {
  max-width: 1200px;
  margin: 0 auto;
  background: #101010;
}
.footerContent {
  color: whitesmoke;
  background: #101010;
  padding: 5rem;
  margin-top: -8rem;
  padding: 10rem 0 2rem 0;
  margin-top: -8rem;
  text-align: center;
  letter-spacing: 0.7px;
}
.footerCard {
  position: relative;
  background: #ddf247;
  height: 250px;
  max-width: 768px;
  border-radius: 1rem;
  margin: 0 auto;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.footerCard h1 {
  padding: 2rem;
  text-align: center;
}
.footerCard p {
  margin: 0 1rem;
  text-align: center;
}
.footerCard ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footerCard ul li {
  margin: 2rem 0.7rem;
}
.footerCard img {
  width: 25px;
}
@media (max-width: 806px) {
  .footerCard {
    max-width: 577px;
  }
}
@media (max-width: 616px) {
  .footerCard {
    max-width: 406px;
  }
  .footerCard h1 {
    padding: 2rem 0;
  }
  .footerCard img {
    width: 22px;
  }
  .footerContent {
    font-size: 13px;
  }
  .footerContent img {
    width: 22px;
  }
}
@media (max-width: 430px) {
  .footerCard {
    max-width: 347px;
  }
  .footerCard h1 {
    font-size: 20px;
  }
  .footerCard p {
    font-size: 13px;
  }
}
.footerContent p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerContent img {
  width: 22px;
  margin: 7px;
}

.modal {
  position: fixed;
  width: 330px;
  background: #ddf247;
  top: 250px;
  left: 0;
  right: 0;
  margin: auto;
  color: #101010;
  border-radius: 1rem;
  transition: all 0.4s;
  z-index: 999;
}
.modal img {
  width: 18px;
}
.modal h1,
.modal p {
  letter-spacing: 0.3px;
  padding: 1rem;
  text-align: center;
}
.bi-x::before {
  content: "\f62a";
  position: absolute;
  top: 19px;
  right: 19px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #101010;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 888;
}

.hidden {
  display: none;
}

.hide {
  display: none;
}

.model-window:hover {
  transform: scale(1.05);
}

#logo,
.arrowAnimation {
  cursor: pointer;
}
